<nav class="grey darken-3" role="navigation">
  <div class="nav-wrapper container" id="navBar">
    <span>
      <a id="logo-container" href="#" class="brand-logo">Lazy Writers</a>
    </span>
    <span>
      <ul class="right hide-on-med-and-down">
        <li><a href="/stories" class="navBtn">Public Stories</a></li>
        <li><a href="/dashboard" class="navBtn">Dashboard</a></li>
        <li><a href="/auth/logout" class="navBtn">Logout</a></li>
        <li><a href="/profile" id="myProfile" class="navBtn">Me
            {{!-- <img class="circle" src="{{givePropVal ./user 'image'}}" style="width: 20%;padding-top:5px"> --}}
          </a></li>
      </ul>
    </span>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/assets/m1.jpg" style="max-height: 100%;">
          </div>
          <a href="#user"><img class="circle" src="{{givePropVal ./user 'image'}}"></a>
          <a href="#name"><span class="white-text name">{{givePropVal ./user 'displayName'}}</span></a>
          <a href="/profile" id="mobileProfile"><span class="white-text email">View Profile</span></a>
        </div>
      </li>
      <li><a href="/stories">Public Stories</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
  </div>
</nav>