<h4>
    <i class="fas fa-book-reader"></i>
    Lazy Writers
</h4>

<div class="section">
    <p class="lead">Create public and private stories</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1 login-btn">
        <i class="fab fa-google left"></i>
        Log In With Google
    </a>
</div>
